{
    "presets": [["env", {
        "targets": {
            "browsers": "> 2% in US",
            "node": "current"
        }
    }], "react"],
    "env": {
        "development": {
            "plugins": ["flow-react-proptypes"],
        }
    }
}
