{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                },
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        },
        "production": {
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        }
    }
}
